<% include ../partials/header %>
<div class="page_create">
    <div class="page_content">
        <h1 class="page_text_align">Management Team</h1>
        <div class="row"></div>
        <form action="/admin/portfolios" method="post" novalidate="novalidate">
            <div class="col-sm-6">
                <div class="form-field">
                    <label for="first_name">First Name <span class="page_form_input_required">*</span></label>
                    <input type="text" name="portfolio[first_name]" value="" placeholder="Enter your First name" class="page_form_input" id="first_name" aria-required="true" aria-invalid="false" />
                </div>
                <br>
                <div class="form-field">
                    <label for="last_name">Last Name <span class="page_form_input_required">*</span></label>
                    <input type="text" name="portfolio[last_name]" value="" placeholder="Enter your last name" class="page_form_input" id="last_name" aria-required="true" aria-invalid="false" />
                </div>
                <br>
                <div class="form-field">
                    <label for="email">Email  <span class="page_form_input_required">*</span></label>
                    <input type="email" name="portfolio[email]" value="" placeholder="Enter your email" class="page_form_input" id="email" aria-required="true" aria-invalid="false" />
                </div>
                <br>
                <div class="form-field">
                    <label for="phone_number">Phone Number <span class="page_form_input_required">*</span></label>
                    <input type="text" name="portfolio[phone_number]" value="" placeholder="Enter your Phone number" class="page_form_input" id="phone_number" aria-invalid="false" />
                </div>
                <br>
                <div class="form-field">
                    <label for="position">Position <span class="page_form_input_required">*</span></label>
                    <input type="text" name="portfolio[position]" value="" placeholder="Enter your position" class="page_form_input" id="position" aria-invalid="false" />
                </div>
                <br>
                <div class="form-field">
                    <label for="image">Image: <span class="page_form_input_required">*</span></label>
                    <input type="text" name="portfolio[image]" value="/images/default.jpg" class="page_form_input" id="image" aria-invalid="false" />
                </div>
                <br>
                <div class="form-field">
                    <label for="profile">Profile:  <span class="page_form_input_required">*</span></label>
                    <textarea name="portfolio[profile]" placeholder="Enter your profile" cols="40" rows="10" class="page_form_input" id="profile" aria-required="true" aria-invalid="false"></textarea></span>
                </div>
                <div class="">
                    <button>Create Portfolio</button>
                </div>
            </div>
        </form>
    </div>
</div>
<% include ../partials/footer %>