    <footer>
        <div class="page_text_align">
            <span class="footer_main_header">All right reserved. &copy; <span id="year"></span></span>
            <span><a class="page_link" href="#">Terms and Conditions</a> ♥</span>
        </div>
    </footer>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- <script src="/scripts/swing.js"></script> -->
    <script src="/scripts/blue.js"></script>
</body>
</html>