<div class="footer_main ">
    <ul class="footer_nav main_container page_desktop_view">
        <li class="footer_item">
            <div class="footer_main_content_container">
                <span><h3 class="footer_content_heading">Company</h3><hr class="page_hr"></span>
                <span class="footer_main_company_toggle footer_toggle">
                    <span class="company_plus">+</span>
                    <span class="company_minus">-</span>
                </span>
            </div>
            <!-- <hr class="page_hr"> -->
            <ul class="footer_main_content_company">
                <li class="footer_link"><a class="page_link" href="/about">About</a></li>
                <li class="footer_link"><a class="page_link" href="">In the news</a></li>
                <li class="footer_link"><a class="page_link" href="">Blog</a></li>
                <li class="footer_link"><a class="page_link" href="/careers">Jobs</a></li>
                <li class="footer_link"><a class="page_link" href="">Reports</a></li>
            </ul>
        </li>
        <li class="footer_item">
            <div class="footer_main_content_container">
                <span><h3 class="footer_content_heading">Support</h3><hr class="page_hr"></span>
                <span class="footer_main_support_toggle footer_toggle">
                    <span class="support_plus">+</span>
                    <span class="support_minus">-</span>
                </span>
            </div>
            <ul class="footer_main_content_support">
                <li class="footer_link"><a class="page_link" href="/contact">Contact Us</a></li>
                <li class="footer_link"><a class="page_link" href="">Help and FAQ</a></li>
                <li class="footer_link"><a class="page_link" href="">Service Status</a></li>
                <li class="footer_link"><a class="page_link" href="">Course Guides</a></li>
                <li class="footer_link"><a class="page_link" href="">Tech Requirements</a></li>
            </ul>
        </li>
        <li class="footer_item">
            <div class="footer_main_content_container">
                <span><h3 class="footer_content_heading">Connect with us</h3><hr class="page_hr"></span>
                <span class="footer_main_connect_toggle footer_toggle">
                    <span class="connect_plus">+</span>
                    <span class="connect_minus">-</span>
                </span>
            </div>
            <div class="footer_main_content_connect">
                <div class="social_media">
                    <a href="https://facebook.com/blueworldcosmeticsltd"><span> <i title="Facebook" class="footer_social_medial_color fab fa-facebook-square"></i></span></a>
                    <a href="https://twitter.com/blueworldcosmeticsltd"><span> <i title="Twitter" class="footer_social_medial_color fab fa-twitter-square"></i></span></a>
                    <a href="https://instagram.com/blueworldcosmeticsltd"><span> <i title="Instagram" class="footer_social_medial_color fab fa-instagram"></i></span></a>
                    <a href="https://google-plus.com/blueworldcosmeticsltd"><i title="Google+" class="footer_social_medial_color fab fa-google-plus-square"></i></a>
                </div>
            </div>
        </li>
    </ul>
</div>