<div class="" >
    <div class="page_content" style="padding: 0">
        <div class="search_form" id="search_form">
            <form method="POST" action="/" class="search" id="search">                    
                <input class="search_form_input" placeholder="Search Here"/>
                <input type="hidden" name="submit">
            </form>
        </div>
    </div>
</div>