<div class="subscribe">
    <span class="subscribe_container">
        <h3 class="subscribe_header">Subscribe to our Mailing List</h3>
    </span>
    <form class="subscribe_form">
        <input class="footer_subscribe" type="text" name="subscribe" placeholder="Enter your email"/>
        <button class="button"  type="submit" name="submit">Subscribe</button>
    </form>
</div>