<div class="subscribe">
        <h3 class="subscribe_header"><u class="subscribe_underline">Subscribe to our Mailing List</u></h3>
    <form class="subscribe_form">
        <input class="footer_subscribe" type="text" name="subscribe" placeholder="Enter your email"/>
        <button class="button"  type="submit" name="submit">Subscribe</button>
    </form>
</div>