<% include ./partials/header %>
<div class="about_page desktop_view">
    <h1 class="page_text_align">About Us</h1><hr class="page_hr">
    <div class="page_content about_page_content">
        <div class="about_page_content_details">
            <p>Blueworld cosmetics Limited was founded in Lagos, Nigeria and incorporated with Corporate Affairs Commission in 2014 with a mission to empower, enrich and excite our customers with outstanding customer care and service excellence. We provide customized services to meet individual needs and we structure our business to create a pleasant and rewarding business experience for our partners and customers.</p><br>
            <p>We an emerging International cosmetics brand committed to inspiring our partners and customers with high-quality products that redefine and restore their beauty and confidence.</p><br>
            <p>We believe that true beauty is when quality meets confidence and we constantly strive to produce and promote high-performing cosmetics products for our customers to experience the excitement and esteem of redefined beauty.</p><br>
        </div>
        <div id="boxshadow" class="about_page_content_img">
                <img class="img" src="/images/mobile-about.jpg" title="Beautiful Girl Touching Her Face. Isolated on a White Background. Perfect Skin. Beauty Face. Professional Makeup" alt="Beauty Face" />
        </div>
    </div>
    <br>
    <!-- <div id="boxshadow">
        <img class="img" src="/images/mobile-about.jpg" class="" style="height: auto; width: 100%;" title="Beautiful Girl Touching Her Face. Isolated on a White Background. Perfect Skin. Beauty Face. Professional Makeup" alt="Beauty Face" />
    </div> -->
    <br>
    <div class="page_content">
        <div class="wrap">
            <button class="button mission" id="mission">Mission</button>
            <button class="button vision" id="vision">Vision</button>
        </div>
        <div class="about_page_container">
            <div class="mission_content"><hr class="page_hr"> 
                <ul>
                    <li>To establish a reputation for providing superior skincare products in the cosmetics industry and diligently source our extensive range of quality products from reputable brands around the world.</li><br>
                    <li>Providing diverse and complete assortment of all essential and preferential cosmetics products.</li><br>
                    <li> Distributing an extensive selection of some of the best cosmetics Product lines in the world at the best prices possible.</li><br>
                    <li>Having understood that our business is purely customer driven, we strive to go the extra mile to ensure total customer satisfaction.</li>
                </ul>
            </div>
            <div class="vision_content"><hr class="page_hr">
                <p><i><em><b>To be the number 1 cosmetics company by ceaselessly developing high-quality, natural, innovative cosmetics products friendly to the user and environment, we aim to:</b></em></i></p>
                <ul>
                    <li>Take over the leading market position in the segment of cosmetics care products in the Nigerian, African and other markets beyond.</li><br>
                    <li>Increase our market share and corporate reputation</li><br>
                    <li>Make real differences in people’s wellness and happiness by producing great skin care products.</li><br>
                    <li>Build a reputation for delivering business success responsibly</li><br>
                    <li>Provide good skincare products and operating with high innovation and integrity.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>