<% include ./partials/header %>
<section class="hero_section spinner_3 page_desktop_view">
    <div class="hero_content">
        <h3 class="hero_desc_h3 hero_desc_font_style">Redefine and Restore your </h3>
        <h1 class="hero_desc_h1 hero_desc_font_style">Beauty &amp;<br>Confidence</h1>
    </div>
</section>
<section class="page_desktop_view">
    <div class="">
        <h3 class="">Hot Deals</h3>
    	<div class="page_list">
            <div class="page_list_items_image_container">
                <img class="page_list_items_image" src="./images/families/perfect-clinic.jpg" style="border-radius: 30%;">
            </div>
            <div class="page_list_items_details">
                <p class="" style="margin-top: 30px;">A. Blueworld cosmetics Limited was founded in Lagos, Nigeria and incorporated with Corporate Affairs Commission in 2014 with a mission to empower, enrich and excite our customers with outstanding customer care and service excellence. We provide customized services to meet individual needs and we structure our business to create a pleasant and rewarding business experience for our partners and customers.</p>
            </div>
        </div><hr class="">
        <div class="page_list" style="display: flex; flexx-direction: row; ">
            <div class="page_list_items_image_container" style="order: 2;">
                <img class="page_list_items_image" src="./images/families/good-mama.jpg" style="border-radius: 30%;">
            </div>
            <div class="page_list_items_details" style="order: 1;">
                <p class="">B. Blueworld cosmetics Limited was founded in Lagos, Nigeria and incorporated with Corporate Affairs Commission in 2014 with a mission to empower, enrich and excite our customers with outstanding customer care and service excellence. We provide customized services to meet individual needs and we structure our business to create a pleasant and rewarding business experience for our partners and customers.</p>
            </div>
        </div><hr class="">
        <div class="page_list">
            <div class="page_list_items_image_container">
                <img class="page_list_items_image" src="./images/families/funbeaut-A.jpg" style="border-radius: 30%;">
            </div>
            <div class="page_list_items_details">
                <p class="">C. Blueworld cosmetics Limited was founded in Lagos, Nigeria and incorporated with Corporate Affairs Commission in 2014 with a mission to empower, enrich and excite our customers with outstanding customer care and service excellence. We provide customized services to meet individual needs and we structure our business to create a pleasant and rewarding business experience for our partners and customers.</p>
            </div>
        </div><hr class="">
        <div class="page_list" style="display: flex; flexx-direction: row; ">
            <div class="page_list_items_image_container" style="order: 2;">
                <img class="page_list_items_image" src="./images/families/dermalis.jpg" style="border-radius: 30%;">
            </div>
            <div class="page_list_items_details" style="order: 1;">
                <p class="">D. Blueworld cosmetics Limited was founded in Lagos, Nigeria and incorporated with Corporate Affairs Commission in 2014 with a mission to empower, enrich and excite our customers with outstanding customer care and service excellence. We provide customized services to meet individual needs and we structure our business to create a pleasant and rewarding business experience for our partners and customers.</p>
            </div>
        </div><hr class="">
        <div class="page_list">
            <div class="page_list_items_image_container">
                <img class="page_list_items_image" src="./images/families/citrovate.jpg" style="border-radius: 30%;">
            </div>
            <div class="page_list_items_details">
                <p class="">E. Blueworld cosmetics Limited was founded in Lagos, Nigeria and incorporated with Corporate Affairs Commission in 2014 with a mission to empower, enrich and excite our customers with outstanding customer care and service excellence. We provide customized services to meet individual needs and we structure our business to create a pleasant and rewarding business experience for our partners and customers.</p>
            </div>
        </div>
    </div>
</section>
<% include ./partials/footer %> 