<% include ./partials/header %>
<section class="hero_section spinner_3">
    <div class="hero_background">
            <h3 class="hero_desc_h3 hero_desc_font_style">Redefine and Restore your </h3>
            <h1 class="hero_desc_h1 hero_desc_font_style">Beauty &amp;<br>
                Confidence</h1>
    </div>
</section>
<section class="page_card_container">
    <div class="page_container">
        <div class="page_card">
            <img src="/images/formula.jpg" alt="">
            <div class="" style="width: 100%; color: #002848;">
                <q class="hero_desc_font_style" cite="http://www.worldwildlife.org/who/index.html">
                    <b>Exclusively formulated to nourish and replenish you skin.</b>
                </q>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit magni odio quaerat placeat? Atque non optio laboriosam, qui rerum consectetur omnis eveniet illo? Dolorem, molestias! Nam, dolores! Officiis, rerum quis!
                </p>
            </div>
        </div>
        <div class="page_card">
            <img src="/images/formula3.jpg" alt="">
            <div class="" style="width: 100%; color: #002848;">
                <q class="hero_desc_font_style" cite="http://www.worldwildlife.org/who/index.html">
                    <b>Elangantly moulded and packaged to brighten and moisten your body.</b>
                </q>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit magni odio quaerat placeat? Atque non optio laboriosam, qui rerum consectetur omnis eveniet illo? Dolorem, molestias! Nam, dolores! Officiis, rerum quis!
                </p>
            </div>
        </div>
        <div class="page_card">
            <img src="/images/formula2.jpg" alt="">
            <div class="" style="width: 100%; color: #002848;">
                <q class="hero_desc_font_style" cite="http://www.worldwildlife.org/who/index.html">
                    <b>Exclusively formulated to nourish and replenish you skin.</b>
                </q>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit magni odio quaerat placeat? Atque non optio laboriosam, qui rerum consectetur omnis eveniet illo? Dolorem, molestias! Nam, dolores! Officiis, rerum quis!
                </p>
            </div>
        </div>
        <div class="page_card">
            <img src="/images/formula1.jpg" alt="">
        
            <div class="" style="width: 100%; color: #002848;">
                <q class="hero_desc_font_style" cite="http://www.worldwildlife.org/who/index.html">
                    <b>Organically produced to moisturize your hair and give you a unique look and a lasting impression.</b>
                </q>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit magni odio quaerat placeat? Atque non optio laboriosam, qui rerum consectetur omnis eveniet illo? Dolorem, molestias! Nam, dolores! Officiis, rerum quis!
                </p>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="">
    </div>
</section>

<section class="svg_card_container" style="background-color: #FFFFFF; margin: 8px 0; color: #002848;">
    <div class="" >
        <ul class="svg_container">
            <li class="svg_card benefitItem" data-count="2">
                <div class="contentWrap">
                    <div class="imageWrap">
                        <div class="iconWrap">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg width="73px" height="74px" viewBox="0 0 73 74" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                                <title>clock icon</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="Benefits-Alt-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-1132.000000, -539.000000)">
                                    <g id="Group" transform="translate(1089.000000, 539.000000)" fill="#002355" fill-rule="nonzero">
                                        <g id="clock-icon" transform="translate(43.000000, 0.000000)">
                                            <path d="M36.75,0.75 C16.7619944,0.75 0.5,17.0119944 0.5,37 C0.5,56.9880056 16.7619944,73.25 36.75,73.25 C56.7380056,73.25 73,56.9880056 73,37 C73,17.0119944 56.7380056,0.75 36.75,0.75 Z M36.75,69.1769663 C19.0078652,69.1769663 4.57303371,54.7421348 4.57303371,37 C4.57303371,19.2578652 19.0078652,4.82303371 36.75,4.82303371 C54.4921348,4.82303371 68.9269663,19.2578652 68.9269663,37 C68.9269663,54.7421348 54.4921348,69.1769663 36.75,69.1769663 Z M34.7134831,36.1332584 L21.3547472,48.9730899 L24.1773596,51.9097472 L38.7865169,37.8667416 L38.7865169,11.6119663 L34.7134831,11.6119663 L34.7134831,36.1332584 Z" id="Shape"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="textWrap">
                        <h3> Available</h3>
                    </div>

                    <div class="benefitContent">
                        <div class="textWrap">
                            <div class="columnWrap">
                                <div class="column">
                                    <div class="pageContent">
                                        <p><strong>Anytime</strong></p>
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit magni odio quaerat placeat? Atque non optio laboriosam, qui rerum consectetur omnis eveniet illo? Dolorem, molestias! Nam, dolores! Officiis, rerum quis!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>




            <li class="svg_card benefitItem" data-count="6">
                <div class="contentWrap">
                    <div class="imageWrap">
                        <div class="iconWrap">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg width="70px" height="92px" viewBox="0 0 70 92" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                                <title>trusted icon</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="Benefits-Alt-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-1120.000000, -1102.000000)">
                                    <g id="Group" transform="translate(1096.000000, 1102.000000)" fill="#002355" fill-rule="nonzero">
                                        <g id="trusted-icon" transform="translate(24.000000, 0.000000)">
                                            <path d="M63.1185491,44.58446 C62.8421798,43.9312233 63.06114,43.1736949 63.6434033,42.7686422 L65.9281427,41.1793998 C65.9574,41.1585017 65.4682388,40.3803702 64.460659,38.8450052 C64.0631279,38.2619596 64.1257487,37.4806676 64.611071,36.968383 L66.411071,35.068383 C66.5016578,34.9770219 66.5344119,34.7356168 66.4607934,34.3821138 L64.7393398,32.6606602 C64.2377672,32.1590875 64.1560995,31.3747413 64.5435841,30.7805983 L66.0280025,28.5050016 C66.0758433,28.4284564 65.364738,27.9152866 63.8946868,26.9654922 C63.2793115,26.5738898 63.0348423,25.7963786 63.3153846,25.1230769 L64.3153846,22.7230769 L61.71554,21.5814509 C61.0672594,21.3071783 60.696902,20.6190108 60.825077,19.9268661 L61.3447862,17.1361966 C61.332529,17.1852256 60.4565099,17.03083 58.7167289,16.6730097 C58.0104686,16.5371904 57.5,15.9192013 57.5,15.2 L57.5,12.6 C57.5,12.5522847 56.5333333,12.5189514 54.6,12.5 C53.896952,12.5 53.2882319,12.011702 53.1357194,11.3253957 L52.5357194,8.62539569 L49.8832711,9.07300967 C49.1852145,9.20725133 48.4887874,8.83308979 48.2153846,8.17692308 L47.2214735,5.79133755 C47.2285079,5.80872951 46.3495034,6.17210062 44.58446,6.88145088 C43.9312233,7.15782025 43.1736949,6.93886 42.7686422,6.35659673 L41.1793998,4.07185729 C41.1585017,4.04259998 40.3803702,4.53176122 38.8450052,5.53934101 C38.2613161,5.93731087 37.4790524,5.87406688 36.9668758,5.38749915 L34.9393398,3.46066017 C34.9298641,3.45118446 34.2369709,4.11785113 32.8606602,5.46066017 C32.3590875,5.9622328 31.5747413,6.04390047 30.9805983,5.6564159 L28.7050016,4.17199746 C28.6284564,4.12415671 28.1152866,4.83526197 27.1654922,6.30531324 C26.7738898,6.92068845 25.9963786,7.16515773 25.3230769,6.88461538 L22.9230769,5.88461538 L21.7814509,8.48445999 C21.5071783,9.13274056 20.8190108,9.50309796 20.1268661,9.37492301 L17.3361966,8.85521375 C17.3852256,8.86747102 17.23083,9.74349013 16.8730097,11.4832711 C16.7371904,12.1895314 16.1192013,12.7 15.4,12.7 L12.8,12.7 C12.7522847,12.7 12.7189514,13.6666667 12.7,15.6 C12.7,16.303048 12.211702,16.9117681 11.5253957,17.0642806 L8.82539569,17.6642806 C8.77804006,17.7330971 8.78971907,17.8087407 8.79558173,17.8849553 L8.99558173,20.4849553 C9.04525854,21.1307537 8.67480584,21.7354976 8.07692308,21.9846154 L5.69133755,22.9785265 C5.70872951,22.9714921 6.07210062,23.8504966 6.78145088,25.61554 C7.05782025,26.2687767 6.83886,27.0263051 6.25659673,27.4313578 L3.97185729,29.0206002 C3.94259998,29.0414983 4.43176122,29.8196298 5.43934101,31.3549948 C5.845451,31.9506227 5.77041404,32.7509063 5.26066017,33.2606602 L3.46066017,35.0606602 C3.45118446,35.0701359 4.11785113,35.7630291 5.46066017,37.1393398 C5.9622328,37.6409125 6.04390047,38.4252587 5.6564159,39.0194017 L4.12060021,41.3718573 C4.11694845,41.3769698 4.84518612,41.8645199 6.30531324,42.8345078 C6.92068845,43.2261102 7.16515773,44.0036214 6.88461538,44.6769231 L5.88461538,47.0769231 L8.48445999,48.2185491 C9.13274056,48.4928217 9.50309796,49.1809892 9.37492301,49.8731339 L8.85521375,52.6638034 C8.86747102,52.6147744 9.74349013,52.76917 11.4832711,53.1269903 C12.1895314,53.2628096 12.7,53.8807987 12.7,54.6 L12.7,57.2 C12.7,57.2477153 13.6666667,57.2810486 15.6,57.3 C16.303048,57.3 16.9117681,57.788298 17.0642806,58.4746043 L17.6642806,61.1746043 L20.2139479,60.9115832 C20.8828385,60.8279719 21.5253477,61.2008344 21.7846154,61.8230769 L22.7785265,64.2086625 C22.7714921,64.1912705 23.6504966,63.8278994 25.41554,63.1185491 C26.0687767,62.8421798 26.8263051,63.06114 27.2313578,63.6434033 L28.8206002,65.9281427 C28.8414983,65.9574 29.6196298,65.4682388 31.1549948,64.460659 C31.7397918,64.0619338 32.5237285,64.1262536 33.0357136,64.6149667 L35.2606602,66.7393398 C35.2701359,66.7488155 35.9630291,66.0821489 37.3393398,64.7393398 C37.8409125,64.2377672 38.6252587,64.1560995 39.2194017,64.5435841 L41.4949984,66.0280025 C41.5715436,66.0758433 42.0847134,65.364738 43.0345078,63.8946868 C43.4261102,63.2793115 44.2036214,63.0348423 44.8769231,63.3153846 L47.2769231,64.3153846 L48.4185491,61.71554 C48.6928217,61.0672594 49.3809892,60.696902 50.0731339,60.825077 L52.8638034,61.3447862 C52.8147744,61.332529 52.96917,60.4565099 53.3269903,58.7167289 C53.4628096,58.0104686 54.0807987,57.5 54.8,57.5 L57.4,57.5 C57.4477153,57.5 57.4810486,56.5333333 57.5,54.6 C57.5,53.896952 57.988298,53.2882319 58.6746043,53.1357194 L61.3746043,52.5357194 L60.9269903,49.8832711 C60.7927487,49.1852145 61.1669102,48.4887874 61.8230769,48.2153846 L64.2086624,47.2214735 L63.1185491,44.58446 Z M47.3692084,64.3576214 C47.3485728,64.3489871 47.3102767,64.3618408 47.3138041,64.3322642 L47.3692084,64.3576214 Z M8.76525922,17.6688652 C8.76296298,17.6619366 8.75907142,17.6516272 8.75521375,17.6361966 C8.7570845,17.6436796 8.75889723,17.6511758 8.76065183,17.6586845 L8.76525922,17.6688652 Z M64.3576214,22.6307916 C64.3489871,22.6514272 64.3618408,22.6897233 64.3322642,22.6861959 L64.3576214,22.6307916 Z M67.6203129,38.1540451 L68.4206002,39.3281427 C69.4052216,40.7066126 69.0424043,42.6416381 67.6565967,43.6313578 L66.3551903,44.536684 L67.0044938,46.0733148 C67.5768045,47.5994768 66.8512782,49.3528322 65.3769231,49.9846154 L64.1024703,50.5156374 L64.3552138,51.8361966 C64.7644876,53.4732921 63.6267147,55.2171037 61.9698982,55.4766134 L60.5,55.8032574 L60.5,57.4 C60.5,59.1284271 59.1284271,60.5 57.4,60.5 L56.0379753,60.5 L55.7552138,61.9638034 C55.3571187,63.5561838 53.7607606,64.6613548 52.2268661,64.274923 L50.7113071,63.9942639 L50.1044938,65.4266852 C49.4969739,67.0467382 47.6641358,67.8205895 46.0831782,67.0679909 L44.8870269,66.5695945 L44.1206002,67.7718573 C43.1474117,69.1343213 41.3586567,69.4805319 39.8805983,68.5564159 L38.6000468,67.7212736 L37.4606602,68.8606602 C36.2748737,70.0464466 34.3251263,70.0464466 33.1642864,68.8850333 L31.8420964,67.6229429 L30.6718573,68.4206002 C29.2933874,69.4052216 27.3583619,69.0424043 26.3686422,67.6565967 L25.463316,66.3551903 L23.9266852,67.0044938 C22.4005232,67.5768045 20.6471678,66.8512782 20.0153846,65.3769231 L19.4541281,64.0299073 L18.258829,64.1793197 C16.652932,64.5156737 14.9773564,63.3913457 14.7233866,61.7698982 L14.3967426,60.3 L12.8,60.3 C11.0715729,60.3 9.7,58.9284271 9.7,57.2 L9.7,55.8379753 L8.23619656,55.5552138 C6.64381621,55.1571187 5.53864524,53.5607606 5.92507699,52.0268661 L6.20573606,50.5113071 L4.77331484,49.9044938 C3.15326176,49.2969739 2.37941053,47.4641358 3.13200907,45.8831782 L3.63040546,44.6870269 L2.42814271,43.9206002 C1.05759569,42.9416381 0.694778425,41.0066126 1.6435841,39.6805983 L2.47872643,38.4000468 L1.33933983,37.2606602 C0.153553391,36.0748737 0.153553391,34.1251263 1.33933983,32.9393398 L2.26065166,32.018028 L1.47939979,30.8718573 C0.494778425,29.4933874 0.857595693,27.5583619 2.24340327,26.5686422 L3.54480967,25.663316 L2.89550623,24.1266852 C2.32319548,22.6005232 3.04872182,20.8471678 4.52307692,20.2153846 L5.92117213,19.6328449 L5.81226703,18.2170787 C5.50384366,16.6240077 6.62270088,14.9751563 8.23010182,14.7233866 L9.7,14.3967426 L9.7,12.8 C9.7,11.0715729 11.0715729,9.7 12.8,9.7 L14.1620247,9.7 L14.4447862,8.23619656 C14.8428813,6.64381621 16.4392394,5.53864524 17.9731339,5.92507699 L19.4886929,6.20573606 L20.0955062,4.77331484 C20.7030261,3.15326176 22.5358642,2.37941053 24.1168218,3.13200907 L25.3129731,3.63040546 L26.0793998,2.42814271 C27.0525883,1.06567874 28.8413433,0.719468103 30.3194017,1.6435841 L31.5999532,2.47872643 L32.7393398,1.33933983 C33.9251263,0.153553391 35.8748737,0.153553391 37.0331242,1.31250085 L38.1554618,2.37872155 L39.3281427,1.57939979 C40.7066126,0.594778425 42.6416381,0.957595693 43.6313578,2.34340327 L44.536684,3.64480967 L46.0733148,2.99550623 C47.5994768,2.42319548 49.3528322,3.14872182 49.9846154,4.62307692 L50.5156374,5.89752973 L51.8361966,5.64478625 C53.4732921,5.23551235 55.2171037,6.37328529 55.4766134,8.03010182 L55.8032574,9.5 L57.4,9.5 C59.1284271,9.5 60.5,10.8715729 60.5,12.6 L60.5,13.9620247 L61.9638034,14.2447862 C63.5561838,14.6428813 64.6613548,16.2392394 64.274923,17.7731339 L63.9942639,19.2886929 L65.4266852,19.8955062 C67.0467382,20.5030261 67.8205895,22.3358642 67.0679909,23.9168218 L66.5695945,25.1129731 L67.7718573,25.8793998 C69.1343213,26.8525883 69.4805319,28.6413433 68.5564159,30.1194017 L67.7212736,31.3999532 L68.8606602,32.5393398 C69.0253225,32.7040021 69.1493857,32.9047407 69.2230249,33.1256584 C69.715644,34.6035154 69.5892417,36.1170863 68.5771642,37.1440353 L67.6203129,38.1540451 Z" id="Shape"></path>
                                            <path d="M55.0393398,33.8606602 C54.52804,33.3493604 54.4542874,32.5460609 54.8639371,31.9502068 L55.7167142,30.7139185 L54.5679497,29.9480754 C53.9730158,29.5514529 53.7407385,28.79004 54.0129829,28.1288753 L54.5446246,26.8378991 L53.1563306,26.298007 C52.4720029,26.0318796 52.0809114,25.3094879 52.2321753,24.5909843 L52.5447557,23.1114832 L51.1534015,22.8795909 C50.4301196,22.7590439 49.9,22.1332587 49.9,21.4 L49.9,20 L48.4,20 C47.6906692,20 47.0783049,19.5031312 46.9321753,18.8090157 L46.6065949,17.2573474 L45.2253957,17.5642806 C44.513355,17.7225119 43.7907056,17.3455943 43.5129829,16.6711247 L42.9667598,15.344583 L41.5436694,15.898007 C40.8950817,16.1502356 40.1581879,15.923249 39.7639371,15.3497932 L38.8906332,14.0756868 L37.7320503,14.8480754 C37.1371164,15.244698 36.3449364,15.1662567 35.8393398,14.6606602 L34.85,13.6713203 L33.7606602,14.7606602 C33.2493604,15.27196 32.4460609,15.3457126 31.8502068,14.9360629 L30.6139185,14.0832858 L29.8480754,15.2320503 C29.4514529,15.8269842 28.69004,16.0592615 28.0288753,15.7870171 L26.7378991,15.2553754 L26.198007,16.6436694 C25.9318796,17.3279971 25.2094879,17.7190886 24.4909843,17.5678247 L23.0114832,17.2552443 L22.7795909,18.6465985 C22.6590439,19.3698804 22.0332587,19.9 21.3,19.9 L19.9,19.9 L19.9,21.4 C19.9,22.1093308 19.4031312,22.7216951 18.7090157,22.8678247 L17.1573474,23.1934051 L17.4642806,24.5746043 C17.6225119,25.286645 17.2455943,26.0092944 16.5711247,26.2870171 L15.2482427,26.8317333 L15.892715,28.442914 C16.1531714,29.0940548 15.927694,29.8387561 15.3497932,30.2360629 L14.0756868,31.1093668 L14.8480754,32.2679497 C15.244698,32.8628836 15.1662567,33.6550636 14.6606602,34.1606602 L13.6713203,35.15 L14.7606602,36.2393398 C15.27196,36.7506396 15.3457126,37.5539391 14.9360629,38.1497932 L14.0832858,39.3860815 L15.2320503,40.1519246 C15.8269842,40.5485471 16.0592615,41.30996 15.7870171,41.9711247 L15.2553754,43.2621009 L16.6436694,43.801993 C17.3279971,44.0681204 17.7190886,44.7905121 17.5678247,45.5090157 L17.2552443,46.9885168 L18.6465985,47.2204091 C19.3698804,47.3409561 19.9,47.9667413 19.9,48.7 L19.9,50.1 L21.4,50.1 C22.1093308,50.1 22.7216951,50.5968688 22.8678247,51.2909843 L23.1934051,52.8426526 L24.5746043,52.5357194 C25.2746112,52.3801623 25.9868157,52.7418111 26.274236,53.3987717 L26.8304511,54.6701206 L28.5044744,54.0842125 C29.1432616,53.8606369 29.8526458,54.0925092 30.2360629,54.6502068 L31.1093668,55.9243132 L32.2679497,55.1519246 C32.8628836,54.755302 33.6550636,54.8337433 34.1606602,55.3393398 L35.15,56.3286797 L36.2393398,55.2393398 C36.7506396,54.72804 37.5539391,54.6542874 38.1497932,55.0639371 L39.3860815,55.9167142 L40.1519246,54.7679497 C40.5485471,54.1730158 41.30996,53.9407385 41.9711247,54.2129829 L43.2621009,54.7446246 L43.801993,53.3563306 C44.0681204,52.6720029 44.7905121,52.2809114 45.5090157,52.4321753 L46.9885168,52.7447557 L47.2204091,51.3534015 C47.3409561,50.6301196 47.9667413,50.1 48.7,50.1 L50.1,50.1 L50.1,48.6 C50.1,47.8906692 50.5968688,47.2783049 51.2909843,47.1321753 L52.8426526,46.8065949 L52.5357194,45.4253957 C52.3801623,44.7253888 52.7418111,44.0131843 53.3987717,43.725764 L54.6584819,43.1746408 L54.101993,41.7436694 C53.8497644,41.0950817 54.076751,40.3581879 54.6502068,39.9639371 L55.9243132,39.0906332 L55.1519246,37.9320503 C54.755302,37.3371164 54.8337433,36.5449364 55.3393398,36.0393398 L56.2786797,35.1 L55.0393398,33.8606602 Z M56.3282564,38.8137606 C56.3018612,38.8295977 56.2776567,38.8462317 56.2555984,38.8635622 L56.3282564,38.8137606 Z M53.2534015,46.7204091 C53.239253,46.7227672 53.2254886,46.7256587 53.2121232,46.7290704 L53.2534015,46.7204091 Z M43.101993,55.1563306 L43.1191826,55.1121287 C43.1127243,55.1262789 43.1069739,55.1410173 43.101993,55.1563306 Z M39.1519246,56.2679497 L39.1793694,56.2267824 C39.1696737,56.2397014 39.1605017,56.2534211 39.1519246,56.2679497 Z M31.3862394,56.3282564 C31.3704023,56.3018612 31.3537683,56.2776567 31.3364378,56.2555984 L31.3862394,56.3282564 Z M27.0230249,55.1256584 C27.0183449,55.1116181 27.0130857,55.0979872 27.0073022,55.0847677 L27.0230249,55.1256584 Z M13.6717436,31.3862394 C13.6981388,31.3704023 13.7223433,31.3537683 13.7444016,31.3364378 L13.6717436,31.3862394 Z M14.7743416,27.0230249 C14.7849353,27.0194937 14.7952959,27.0156329 14.8054212,27.0114619 L14.7743416,27.0230249 Z M46.5204091,16.8465985 C46.5227672,16.860747 46.5256587,16.8745114 46.5290704,16.8878768 L46.5204091,16.8465985 Z M54.9563306,26.998007 L54.9121287,26.9808174 C54.9262789,26.9872757 54.9410173,26.9930261 54.9563306,26.998007 Z M56.0679497,30.9480754 L56.0267824,30.9206306 C56.0397014,30.9303263 56.0534211,30.9394983 56.0679497,30.9480754 Z M58.8713032,36.7370426 L58.7606602,36.8606602 L58.3293901,37.2919303 L58.6862394,37.8282564 C59.4021277,39.0214036 59.1069022,40.6451443 57.9497932,41.3360629 L57.3275578,41.7638497 L57.6230249,42.5256584 C58.0699073,43.8663054 57.5155966,45.2966664 56.1508118,45.7962932 L55.7307502,45.9800701 L55.8795909,46.6534015 C56.1146348,48.0636651 55.1714889,49.4421092 53.8090157,49.6678247 L53.1,49.8170911 L53.1,50.5 C53.1,51.9284271 51.9284271,53.1 50.5,53.1 L49.9706906,53.1 L49.8795909,53.6465985 C49.6421092,55.0714889 48.2636651,56.0146348 46.7909843,55.7678247 L46.1353998,55.6298069 L45.9230249,56.1743416 C45.446484,57.6039645 43.8456456,58.2138077 42.5288753,57.6870171 L41.9648201,57.4547591 L41.6862394,57.8717436 C40.9451443,59.1069022 39.3214036,59.4021277 38.0502068,58.6360629 L37.478385,58.2429354 L36.9606602,58.7606602 C35.9748737,59.7464466 34.3251263,59.7464466 33.3393398,58.7606602 L32.9080697,58.3293901 L32.3717436,58.6862394 C31.1785964,59.4021277 29.5548557,59.1069022 28.8639371,57.9497932 L28.4133835,57.2944425 L27.4743416,57.6230249 C26.1336946,58.0699073 24.7033336,57.5155966 24.2037068,56.1508118 L24.0199299,55.7307502 L23.3465985,55.8795909 C21.9363349,56.1146348 20.5578908,55.1714889 20.3321753,53.8090157 L20.1829089,53.1 L19.5,53.1 C18.0715729,53.1 16.9,51.9284271 16.9,50.5 L16.9,49.9706906 L16.3534015,49.8795909 C14.9285111,49.6421092 13.9853652,48.2636651 14.2321753,46.7909843 L14.3701931,46.1353998 L13.8256584,45.9230249 C12.3960355,45.446484 11.7861923,43.8456456 12.3129829,42.5288753 L12.5452409,41.9648201 L12.1282564,41.6862394 C10.8930978,40.9451443 10.5978723,39.3214036 11.3639371,38.0502068 L11.7570646,37.478385 L11.2393398,36.9606602 C10.2535534,35.9748737 10.2535534,34.3251263 11.2393398,33.3393398 L11.6706099,32.9080697 L11.3137606,32.3717436 C10.5978723,31.1785964 10.8930978,29.5548557 12.0502068,28.8639371 L12.6629992,28.4426423 L12.2769751,27.4743416 C11.8280951,26.1277018 12.389379,24.6905443 13.7675387,24.1970626 L14.2632821,23.992933 L14.1204091,23.3465985 C13.8853652,21.9363349 14.8285111,20.5578908 16.1909843,20.3321753 L16.9,20.1829089 L16.9,19.5 C16.9,18.0715729 18.0715729,16.9 19.5,16.9 L20.0293094,16.9 L20.1204091,16.3534015 C20.3578908,14.9285111 21.7363349,13.9853652 23.2090157,14.2321753 L23.8646002,14.3701931 L24.0769751,13.8256584 C24.553516,12.3960355 26.1543544,11.7861923 27.4711247,12.3129829 L28.0351799,12.5452409 L28.3137606,12.1282564 C29.0548557,10.8930978 30.6785964,10.5978723 31.9497932,11.3639371 L32.521615,11.7570646 L33.0393398,11.2393398 C34.0251263,10.2535534 35.6748737,10.2535534 36.6606602,11.2393398 L37.0919303,11.6706099 L37.6282564,11.3137606 C38.8214036,10.5978723 40.4451443,10.8930978 41.1360629,12.0502068 L41.5638497,12.6724422 L42.3256584,12.3769751 C43.6722982,11.9280951 45.1094557,12.489379 45.6029374,13.8675387 L45.807067,14.3632821 L46.4534015,14.2204091 C47.8636651,13.9853652 49.2421092,14.9285111 49.4678247,16.2909843 L49.6170911,17 L50.3,17 C51.7284271,17 52.9,18.1715729 52.9,19.6 L52.9,20.1293094 L53.4465985,20.2204091 C54.8714889,20.4578908 55.8146348,21.8363349 55.5678247,23.3090157 L55.4298069,23.9646002 L55.9743416,24.1769751 C57.4039645,24.653516 58.0138077,26.2543544 57.4870171,27.5711247 L57.2547591,28.1351799 L57.6717436,28.4137606 C58.9069022,29.1548557 59.2021277,30.7785964 58.4360629,32.0497932 L58.0429354,32.621615 L58.4748789,33.0535586 C59.6825399,33.9703268 59.7864218,35.5931443 58.8713032,36.7370426 Z" id="Shape"></path>
                                            <path d="M47.5,64 C47.5,63.1715729 48.1715729,62.5 49,62.5 C49.8284271,62.5 50.5,63.1715729 50.5,64 L50.5,90 C50.5,91.151734 49.2557767,91.8737848 48.2557916,91.3023647 L35,83.7276267 L21.7442084,91.3023647 C20.7442233,91.8737848 19.5,91.151734 19.5,90 L19.5,64 C19.5,63.1715729 20.1715729,62.5 21,62.5 C21.8284271,62.5 22.5,63.1715729 22.5,64 L22.5,87.4152305 L34.2557916,80.6976353 C34.7169406,80.4341216 35.2830594,80.4341216 35.7442084,80.6976353 L47.5,87.4152305 L47.5,64 Z" id="Shape"></path>
                                            <polygon id="Path-2" points="26.7917168 32.953363 24 35.1119585 32.7626296 46 48 25.0213752 45.103332 23 32.6167848 40.1913252"></polygon>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="textWrap">
                        <h3>Trusted</h3>
                    </div>

                    <div class="benefitContent">
                        <div class="textWrap">
                            <div class="columnWrap">
                                <div class="column">
                                    <div class="pageContent">
                                        <p><strong>Collaboration</strong></p>
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit magni odio quaerat placeat? Atque non optio laboriosam, qui rerum consectetur omnis eveniet illo? Dolorem, molestias! Nam, dolores! Officiis, rerum quis!</p>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            
         
            <li class="svg_card benefitItem" data-count="5">
                <div class="contentWrap">
                    <div class="imageWrap">
                        <div class="iconWrap">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg width="92px" height="92px" viewBox="0 0 92 92" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                                <title>comprehensive</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="Benefits-Alt-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-784.000000, -1101.000000)">
                                    <g id="Group" transform="translate(711.000000, 1101.000000)" fill="#002355" fill-rule="nonzero">
                                        <g id="comprehensive" transform="translate(73.000000, 0.000000)">
                                            <path d="M79.103,62.486 L68.713,74.732 L62.074,69.449 C61.428,68.933 60.482,69.042 59.967,69.689 C59.451,70.337 59.559,71.281 60.207,71.797 L67.982,77.985 C68.257,78.204 68.587,78.311 68.915,78.311 C69.341,78.311 69.764,78.13 70.06,77.782 L81.39,64.428 C81.926,63.797 81.849,62.85 81.217,62.314 C80.584,61.775 79.638,61.854 79.103,62.486 Z M88.831,58.938 C90.082,54.757 90.721,50.407 90.721,46 C90.721,21.157 70.526,0.945 45.692,0.912 L45.684,0.91 L45.677,0.911 C45.661,0.911 45.647,0.91 45.631,0.91 C20.769,0.91 0.541,21.137 0.541,46 C0.541,70.842 20.734,91.054 45.568,91.088 L45.576,91.089 L45.683,91.089 L45.69,91.088 C51.366,91.081 56.894,90.028 62.129,87.968 C64.743,89.158 67.638,89.838 70.692,89.838 C82.142,89.838 91.458,80.524 91.458,69.074 C91.459,65.43 90.519,61.964 88.831,58.938 Z M38.733,4.485 C32.112,9.092 26.828,16.105 23.477,24.5 L9.466,24.5 C15.691,14.066 26.301,6.544 38.733,4.485 Z M7.836,27.5 L22.386,27.5 C20.631,32.782 19.613,38.525 19.462,44.5 L3.579,44.5 C3.794,38.42 5.298,32.664 7.836,27.5 Z M3.579,47.5 L19.46,47.5 C19.602,53.476 20.608,59.219 22.356,64.5 L7.836,64.5 C5.298,59.336 3.794,53.58 3.579,47.5 Z M9.466,67.5 L23.447,67.5 C26.789,75.897 32.069,82.909 38.693,87.508 C26.277,85.439 15.686,77.922 9.466,67.5 Z M44.131,87.273 C36.545,83.448 30.452,76.371 26.679,67.5 L44.131,67.5 L44.131,87.273 Z M44.131,64.5 L25.515,64.5 C23.674,59.267 22.608,53.511 22.459,47.5 L44.131,47.5 L44.131,64.5 Z M44.131,44.5 L22.461,44.5 C22.62,38.49 23.694,32.734 25.542,27.5 L44.131,27.5 L44.131,44.5 Z M44.131,24.5 L26.71,24.5 C30.486,15.646 36.566,8.575 44.131,4.734 L44.131,24.5 Z M87.683,44.5 L71.798,44.5 C71.648,38.525 70.629,32.782 68.875,27.5 L83.426,27.5 C85.964,32.664 87.468,38.42 87.683,44.5 Z M87.693,47.5 C87.595,50.277 87.224,53.022 86.591,55.705 C84.447,53.16 81.685,51.108 78.44,49.803 C76.311,48.946 74.071,48.478 71.774,48.36 C71.785,48.074 71.797,47.791 71.804,47.5 L87.693,47.5 Z M81.796,24.5 L67.783,24.5 C64.431,16.104 59.148,9.091 52.526,4.484 C64.96,6.543 75.569,14.065 81.796,24.5 Z M47.131,4.735 C54.694,8.576 60.775,15.647 64.551,24.5 L47.131,24.5 L47.131,4.735 Z M47.131,27.5 L65.718,27.5 C67.566,32.734 68.64,38.49 68.799,44.5 L47.131,44.5 L47.131,27.5 Z M47.131,47.5 L68.805,47.5 C68.797,47.806 68.784,48.101 68.772,48.399 C59.832,49.226 52.4,55.761 50.438,64.5 L47.13,64.5 L47.13,47.5 L47.131,47.5 Z M47.131,67.5 L49.995,67.5 C49.956,68.021 49.93,68.547 49.93,69.075 C49.93,73.992 51.657,78.509 54.524,82.07 C52.224,84.202 49.749,85.946 47.131,87.271 L47.131,67.5 Z M52.541,87.515 C53.936,86.544 55.281,85.456 56.575,84.257 C57.25,84.885 57.961,85.471 58.715,86.006 C56.695,86.667 54.635,87.169 52.541,87.515 Z M70.693,86.839 C60.898,86.839 52.929,78.87 52.929,69.075 C52.929,68.329 52.975,67.586 53.064,66.865 C54.163,57.997 61.741,51.309 70.693,51.309 C72.985,51.309 75.214,51.739 77.321,52.586 C84.087,55.307 88.459,61.779 88.459,69.075 C88.459,78.87 80.489,86.839 70.693,86.839 Z" id="Shape"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="textWrap">
                        <h3>Comprehensive</h3>
                    </div>

                    <div class="benefitContent">
                        <div class="textWrap">
                            <div class="columnWrap">
                                <div class="column">
                                    <div class="pageContent">
                                        <p><strong>Level 1</strong></p> 
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit magni odio quaerat placeat? Atque non optio laboriosam, qui rerum consectetur omnis eveniet illo? Dolorem, molestias! Nam, dolores! Officiis, rerum quis!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>


            <li class="svg_card benefitItem" data-count="0">
                <div class="contentWrap">
                    <div class="imageWrap">
                        <div class="iconWrap">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg width="83px" height="75px" viewBox="0 0 83 75" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                                <title>affordable</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="Benefits-Alt-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-460.000000, -536.000000)">
                                    <g id="Group" transform="translate(421.000000, 536.000000)" fill="#002355" fill-rule="nonzero">
                                        <g id="affordable" transform="translate(39.000000, 0.000000)">
                                            <polygon id="Shape" points="58.3548551 21.4203034 56.3041638 19.3512765 63.2539357 12 56.3041638 4.64872355 58.3548551 2.57969661 65.257049 9.88142209 70.2261761 4.62702623 77.2141353 4.62702623 75.0368421 2.37783672 77.066647 0.281005735 82.6957901 6.09972742 77.0665328 11.914868 75.0366434 9.81794979 77.2131663 7.57220749 71.4508206 7.57220749 67.2632609 12 71.4508206 16.4277925 77.2131663 16.4277925 75.0366434 14.1820502 77.0665328 12.085132 82.6957901 17.9002726 77.066647 23.7189943 75.0368421 21.6221633 77.2141353 19.3729738 70.2261761 19.3729738 65.257049 14.1185779"></polygon>
                                            <path d="M65.6889503,54.5796253 C62.0538004,56.7852663 57.1920928,58 52,58 C46.807679,58 41.9461996,56.7852663 38.3110497,54.5796253 C34.8861864,52.5017557 33,49.8099494 33,46.9998867 C33,44.1900506 34.8861864,41.4980177 38.3110497,39.4201481 C41.9459713,37.2145071 46.807679,36 52,36 C57.1923211,36 62.0538004,37.2145071 65.6889503,39.4201481 C69.1138136,41.4982443 71,44.1900506 71,46.9998867 C71,49.8099494 69.1138136,52.5017557 65.6889503,54.5796253 Z M71,54.3752661 C71,57.0894352 69.1138136,59.6893835 65.6889503,61.6963458 C62.0538004,63.826938 57.1923211,65 52,65 C46.807679,65 41.9459713,63.826938 38.3110497,61.6963458 C34.8861864,59.6896024 33,57.0894352 33,54.3752661 L33,54 C34.0256324,55.1190149 35.3254822,56.1498478 36.8815118,57.0618647 C40.9411164,59.4410296 46.3101604,60.7510692 52,60.7510692 C57.6896113,60.7510692 63.0586553,59.4410296 67.1184882,57.0618647 C68.6745178,56.1498478 69.9743676,55.1190149 71,54 L71,54.3752661 Z M71,61.3754849 C71,64.0894353 69.1138136,66.6893836 65.6889503,68.6965647 C62.0538004,70.8267192 57.1920928,72 52,72 C46.807679,72 41.9461996,70.8267192 38.3110497,68.6965647 C34.8861864,66.6893836 33,64.0894353 33,61.3754849 L33,61 C34.0256324,62.1187962 35.3254822,63.1498479 36.8815118,64.0616459 C40.9411164,66.4408108 46.3101604,67.7508504 52,67.7508504 C57.6896113,67.7508504 63.0586553,66.4408108 67.1184882,64.0616459 C68.6745178,63.1498479 69.9743676,62.1187962 71,61 L71,61.3754849 Z M30.7630949,46.3229759 L30.7630949,46.7890591 C28.0889585,47.5789935 25.1087367,48 22.0079081,48 C16.8135919,48 11.9500307,46.8269147 8.31332409,44.6964989 C4.88699413,42.6892779 3,40.0892779 3,37.3752735 L3,37 C4.02607162,38.1188184 5.32647807,39.1498906 6.88317396,40.0617068 C10.9445171,42.440919 16.3158604,43.7509847 22.0079081,43.7509847 C25.541368,43.7509847 28.9505663,43.2452954 32,42.2934355 C31.2640243,43.5698031 30.8350478,44.9247265 30.7630949,46.3229759 Z M22.1556048,63 C16.9209273,63 12.019575,61.8267425 8.35461009,59.6964115 C4.9016566,57.6894892 3,55.0895926 3,52.3754774 L3,52 C4.03404448,53.1189927 5.34455545,54.1498051 6.91334731,55.0618038 C11.0062482,57.4409214 16.4193283,58.7509349 22.1556048,58.7509349 C25.2430057,58.7509349 28.2341842,58.3682368 30.9788219,57.6468213 C30.9788219,57.6468213 30.9868787,61.5913034 31,61.7827618 C28.2995601,62.5768221 25.2885847,63 22.1556048,63 Z M3,44 C4.03482718,45.1187739 5.34633012,46.1498051 6.91630945,47.061585 C11.0123084,49.4407026 16.4294858,50.7509349 22.1701044,50.7509349 C25.2598422,50.7509349 28.2532848,50.368018 31,49.6468213 L31,53.7886696 C28.303045,54.5787914 25.2971623,55 22.1701044,55 C16.9314646,55 12.0264022,53.8265237 8.35866318,51.6964115 C4.90309603,49.6892704 3,47.0893739 3,44.3754774 L3,44 Z M3,29.0002188 C4.02563856,30.1189927 5.32549617,31.149805 6.88153506,32.0618038 C10.9411641,34.4409214 16.3102404,35.7509349 21.9998858,35.7509349 C27.6897596,35.7509349 33.0588359,34.4409214 37.1184649,32.0618038 C38.6745038,31.149805 39.9743614,30.1189927 41,29 L41,29.3754774 C41,32.0895926 39.1138023,34.6894892 35.6889184,36.6964115 C32.0537466,38.8267425 27.1922381,40 21.9998858,40 C16.8077618,40 11.9462534,38.8267425 8.31108159,36.6964115 C4.88619772,34.6894892 3,32.0895926 3,29.3754774 L3,29.0002188 Z M21.9998858,12 C27.1922381,12 32.0537466,13.1595184 35.6889184,15.264903 C39.1138023,17.248324 41,19.8177755 41,22.5001081 C41,25.1822244 39.1138023,27.7518922 35.6889184,29.7353132 C32.0537466,31.8406978 27.1922381,33 21.9998858,33 C16.8077618,33 11.9462534,31.8406978 8.31108159,29.7353132 C4.88619772,27.7518922 3,25.1822244 3,22.5001081 C3,19.8177755 4.88619772,17.248324 8.31108159,15.264903 C11.9462534,13.1595184 16.8077618,12 21.9998858,12 Z M52.2515519,33.1211648 C49.188062,33.1211648 46.2200492,33.5182163 43.4966679,34.2666892 L43.4966679,22.7472002 C43.4966679,18.9464929 41.1442311,15.4236537 36.8726592,12.8274951 C32.8114565,10.3591467 27.4402991,9 21.7482197,9 C16.0563689,9 10.6852114,10.3591467 6.62400878,12.8274951 C2.52283369,15.3199073 0.17953348,18.6670359 0,22.2936215 L0,52.0906483 C0,55.8913555 2.35243678,59.4141947 6.62400878,62.0103533 C10.6852114,64.4784747 16.0563689,65.8378485 21.7482197,65.8378485 C25.0389816,65.8378485 28.2203331,65.3808646 31.1054317,64.5204727 C32.0563195,67.0471643 34.1131885,69.3407102 37.1271124,71.1725049 C41.1883151,73.6406263 46.5594725,75 52.2515519,75 C57.9434027,75 63.3145602,73.6408533 67.3759912,71.1725049 C71.6475632,68.5763463 74,65.0535071 74,61.2530269 L74,46.868138 C74,43.0674307 71.6475632,39.5448185 67.3759912,36.94866 C63.3145602,34.4803115 57.9434027,33.1211648 52.2515519,33.1211648 Z" id="Shape"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="textWrap">
                        <h3>Affordable</h3>
                    </div>

                    <div class="benefitContent">
                        <div class="textWrap">
                            <div class="columnWrap">
                                <div class="column">
                                    <div class="pageContent">
                                        <p><strong>Flexible Subscriptions</strong></p>
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit magni odio quaerat placeat? Atque non optio laboriosam, qui rerum consectetur omnis eveniet illo? Dolorem, molestias! Nam, dolores! Officiis, rerum quis!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<% include ./partials/footer %> 