<% include ./partials/header %>
<div class="main_container">
    <div class="page_content page_desktop_view">
        <h1 class="page_text_align">Latest Score</h1><hr class="page_hr">
        <div class="" style="background: #0021; text-align: center;padding: 5px 0">
            <span>Unilorin</span>
            <span>0</span><span> - </span><span><strong>2</strong></span>
            <span>Uniport</span>
        </div>
        <div class="" style="text-align: center;padding: 5px 0;">
            <span>Futa</span>
            <span><strong>3</strong></span><span> - </span><span>2</span>
            <span>UI</span>
        </div>
        <div class="" style="background: #0021; text-align: center;padding: 5px 0;">
            <span>ABU</span>
            <span><strong>2</strong></span><span> - </span><span>1</span>
            <span>UNN</span>
        </div>
        <div class="" style="text-align: center;padding: 5px 0;">
            <span>Unilag</span>
            <span>0</span><span> - </span><span>0</span>
            <span>Unical</span>
        </div>
        <div class="" style="background: #0021; text-align: center;padding: 5px 0;">
            <span>Uniben</span>
            <span>0</span><span> - </span><span><strong>2</strong></span>
            <span>OAU</span>
        </div>
    </div>
</div>
<% include ./partials/main %> 
<% include ./partials/footer %>