<% include ../partials/header %>
<div class="page_create">
    <div class="page_content">
        <h1 class="page_text_align">Edit Account</h1>
        <div class="row"></div>
        <form action="/admin/users/<%=user._id%>?_method=PUT" method="post" novalidate="novalidate">
            <div class="col-sm-6">
                <div class="form-field">
                    <label for="status">Status:  <span class="page_form_input_required">*</span></label>
                    <input type="status" name="user[status]" value="<%= user.status %>" placeholder="Enter your status" class="page_form_input" id="status" aria-required="true" aria-invalid="false" />
                </div>
                <br>
                <div class="">
                    <button>Update Account</button>
                </div>
            </div>
        </form>
    </div>
</div>
<% include ../partials/footer %>