.main_container {
    margin: 0 auto;
}
/*************** heater styles ***************/
.header {
    position: relative;
    width: 100%;
    z-index: 2;
}
.header_fixed {
    position: fixed;
    width: 100%;
}
.header_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.header_img_mobile {
    margin: 0;
    padding: 8px 0;
}
.nav_menu_toggle {
    display: none;
}
/***************** Nav styling *******************/
.nav_link {
    padding: 4px 0 0 0;
    font-size: 1.2em
}
.nav_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 0 130px 0 400px; */
    /* margin: 0 5% 0 25%;
    padding: 0 10px; */
    margin: 0 auto;
    max-width: 960px;
    padding-left: 25%;
    left: 0;
    right: 0;
    top: 30px;
    position: absolute;
    font-size: 0.9em;
}
.nav_item {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
}
.nav_item:first-child {
    border-top: none;
}
.nav_link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #4CBFFF;
    transition: width .3s;
    position: absolute
}
.nav_link:hover::after {
    width: 100%;
    transition: width .3s;
}
/********* displays a bottom boarder on actve menu **********/
.active {
    border-bottom: 2px solid #34ADFF;
}
/******** displays search bar *********/
.search_icon {
    color: rgb(255, 255, 255);
    margin: 10px 0 0 0;
}
.search_form_active {
    display: block;
    border: none;
    border-radius: 50px;
    width: 20%;
    top: 8px;
    right: 16%;
    position: absolute;
}
/**************** main section styling *****************/
/**************** hero section styling *****************/
.hero_section {
    margin-left: auto;
    margin-right: auto;
}
/**************** carousel section styling *****************/
.section_carousel_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "carousel_container product_carousel_container";
    width: 100%;
    margin: 0;
}
.carousel_desktop_view {
    width: 960px;
    margin: 0 auto;
}
.carousel_container {
    grid-area: carousel_container;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    margin: 0;
    background-color: #FFFFFF;
    /* z-index: -2; */
    grid-template-areas: "slide_container";
}
.product_carousel_container {
    grid-area: product_carousel_container;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    margin: 0;
    background-color: #FFFFFF;
    /* z-index: -2; */
    grid-template-areas: "product_container";
}
.carousel_card {
    width: 100%;
    height: auto;
    padding: 5px; 
    margin: 5px 5px 5px 0; 
    text-align: center; 
    background-color: #FFFFFF;
    box-shadow: 0 10px 5px grey;
}
/* .carousel_card:last-child {
    margin-right: 0;
} */
.carousel_card > img {
    width: 100%;
}
/**************** process section styling *****************/
.section_process_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "process_container";
    background-color: #E0E0E0;
    width: 100%;
    margin: 0;
}
.process_container {
    grid-area: process_container;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas: "process_card" "process_card" "process_card" "process_card";
}
.process_card {
    width: 100%;
    height: auto;
    padding: 5px; 
    margin: 10px 5px 0 0; 
    text-align: center; 
    background-color: #FFFFFF;
    /* box-shadow: 0 10px 5px grey; */
}
.process_card:hover {
    box-shadow: 0 10px 5px grey;
}
.process_card:last-child {
    margin-right: 0;
}
.process_card > img {
    width: 100%;
}
/**************** values section styling *****************/
.section_values_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "values_container";
    background-color: #FFFFFF;
    color: #002848;
    width: 100%;
    margin: 0;
}
.values_container {
    grid-area: page_container;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 0;
    grid-column-gap: 5px;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas: "value_card" "value_card" "value_card" "value_card";
}
.value_card {
    width: 100%;
    height: auto;
    padding: 5px; 
    margin: 10px 5px 10px 0; 
    text-align: center; 
    background-color: #E0E0E0;
    /* box-shadow: 0 10px 5px #e8e5e5; */
}
.value_card:hover {
    box-shadow: 0 10px 5px #474646;
}
.value_card:last-child {
    margin-right: 0;
}
/******* general page styling **********/
/******* Removes overlay in bigger screen **********/
.page_overlay_active {
    display: none;
}
.page_desktop_view {
    width: 960px;
    margin: 0 auto;
}
/******* page input form styling **********/
.page_form_input {
    width: 100%;
    height: 40px;
    font-size: 1em;
    padding-left: 8px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #34ADFF;
}
/******* page list items styling **********/
.page_list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}.page_list_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.page_list_items_image_container {
    width: 100%;
}
.page_list_items_image {
    /* width: 100%; */
}
.page_list_items_details {
    width: 100%;
}
/******* page navigation to the top styling **********/
.page_to_the_top {
    right: 20px;
}
/**************** about page styling *****************/
.about_page_content {
    display: flex; flex-direction: row;
}
.about_page_content_details {
    width: 60%;
    padding: 0 10px;
}
.about_page_content_img {
    width: 40%;
}
/********************** Contact page Styling ****************************/
.contact_page_contents {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}
.contact_page_form {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
}
/********************** Footer Styling ****************************/
.footer_main{
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(140deg, #013A6B 35%, #004E95 35%);
}
.footer_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0;
    width: 960px;
}
.footer_main_content_company, .footer_main_content_support, .footer_main_content_connect {
    display: block;
}
.footer_main_content_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #EFEEEF;
}
.footer_toggle {
    display: none;
}
.footer_item {
    border-bottom: none;
}
.footer_link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #4CBFFF;
    transition: width .3s;
    position: inherit
}
.footer_link:hover::after {
    width: 100%;
    transition: width .3s;
}
.footer_content_heading {
    /* margin: 0 auto; */
}
.footer_subscribe {
    margin-bottom: 5px;
    border-radius: 5px;
    line-height: 1.5em;
    width: 60%;
}
.footer_main_content_container> span > hr.page_hr{
    display: block;
}