<% include ../partials/header %>
<div class="page_create">
    <div class="page_content">
        <h1 class="page_text_align"><%=product.name%></h1><hr>
        <div><img class="thumbnail" src="<%= product.image %>"></div>
        <div>
            <p><strong>Price: </strong>$ <%=product.price%> / Carton</p>
            <p><strong>Description: </strong><%=product.description%></p>
        </div>
    </div>
</div>
<% include ../partials/footer %>