    </div>
</div>
<footer>
        <div class="page_text_align">
            <span class="hero_desc_font_style">All right reserved. &copy; <span id="year"></span></span>  || 
            <span><a class="page_link" href="#">Terms and Conditions</a> ♥</span>
        </div>
    </footer>
    <script src="/scripts/dashboard.js"></script>
</body>
</html>