<% include ../partials/header %>
<div style="display:flex; flex-wrap:wrap; justify-content: space-between; text-align: center;">
    <% if(noMatch !== null) { %>
        <h3><%= noMatch %></h3>
    <% } else { %>
        <% products.forEach(function(product){ %>
            <div style="position:relative; margin: 15px auto;">
                <img src="<%= product.image %>"  alt="" width="320" height="320">
                <h3 class="blink"><span>NEW!</span></h3>
                <h4><%= product.name %></h4>
                <h3>★★★★★</h3>
                <button> + quick view</button>
            </div>
        <% }); %>
    <% } %>
</div>
<% include ../partials/subscribe %> 
<% include ../partials/main %> 
<% include ../partials/footer %>