<% include ../partials/header %>
<div class="main_container" >
    <div class="page_content" style="padding: 0">
        <div class="prod_page">
            <ul class="prod_menu">
                <li class="prod_list"><a class="prod_link prod_body_cream" href="#">BODY CREAM 
                        <span style="margin-left: 30px"><i class="fa fa-angle-down prod_body_cream_down"></i><i class="fa fa-angle-up prod_body_cream_up"></i></span></a>
            
                    <ul class="prod_drop prod_body_cream_toggle">
            
                        <li class="prod_item"><a class="prod_link" href="/prodcts/body-cream/item1">Item1</a></li>
                
                        <li class="prod_item"><a class="prod_link" href="/prodcts/body-cream/item2">Item2</a></li>
                
                        <li class="prod_item"><a class="prod_link" href="/prodcts/body-cream/item3">Item3</a></li>
            
                    </ul>
            
                </li>
                <li class="prod_list "><a class="prod_link prod_lotions" href="#">LOTIONS 
                        <span style="margin-left: 30px"><i class="fa fa-angle-down prod_lotions_down"></i><i class="fa fa-angle-up prod_lotions_up"></i></span></a>
            
                    <ul class="prod_drop prod_lotions_toggle">
            
                        <li class="prod_item"><a class="prod_link" href="/item1">Item1</a></li>
                
                        <li class="prod_item"><a class="prod_link" href="/item2">Item2</a></li>
                
                        <li class="prod_item"><a class="prod_link" href="/item3">Item3</a></li>
            
                    </ul>
            
                </li>
                <li class="prod_list "><a class="prod_link prod_hair_creams" href="#">HAIR CREAMS 
                        <span style="margin-left: 30px"><i class="fa fa-angle-down prod_hair_creams_down"></i><i class="fa fa-angle-up prod_hair_creams_up"></i></span></a>
            
                    <ul class="prod_drop prod_hair_creams_toggle">
            
                        <li class="prod_item"><a class="prod_link" href="/item1">Item1</a></li>
                
                        <li class="prod_item"><a class="prod_link" href="/item2">Item2</a></li>
                
                        <li class="prod_item"><a class="prod_link" href="/item3">Item3</a></li>
            
                    </ul>
            
                </li>
                <li class="prod_list "><a class="prod_link prod_shampoos" href="#">SHAMPOOS 
                        <span style="margin-left: 30px"><i class="fa fa-angle-down prod_shampoos_down"></i><i class="fa fa-angle-up prod_shampoos_up"></i></span></a>
            
                    <ul class="prod_drop prod_shampoos_toggle">
            
                        <li class="prod_item"><a class="prod_link" href="/item1">Item1</a></li>
                
                        <li class="prod_item"><a class="prod_link" href="/item2">Item2</a></li>
                
                        <li class="prod_item"><a class="prod_link" href="/item3">Item3</a></li>
            
                    </ul>
            
                </li>
                <li class="prod_list "><a class="prod_link prod_conditioners" href="#">CONDITIONERS 
                        <span style="margin-left: 30px"><i class="fa fa-angle-down prod_conditioners_down"></i><i class="fa fa-angle-up prod_conditioners_up"></i></span></a>
            
                    <ul class="prod_drop prod_conditioners_toggle">
            
                        <li class="prod_item"><a class="prod_link" href="/item1">Item1</a></li>
                
                        <li class="prod_item"><a class="prod_link" href="/item2">Item2</a></li>
                
                        <li class="prod_item"><a class="prod_link" href="/item3">Item3</a></li>
            
                    </ul>
            
                </li>
                <li class="prod_list "><a class="prod_link prod_soaps" href="#">SOAPS 
                    <span style="margin-left: 30px"><i class="fa fa-angle-down prod_soaps_down"></i><i class="fa fa-angle-up prod_soaps_up"></i></span></a>
            
                    <ul class="prod_drop prod_soaps_toggle">
            
                        <li class="prod_item"><a class="prod_link" href="/item1">Item1</a></li>
                
                        <li class="prod_item"><a class="prod_link" href="/item2">Item2</a></li>
                
                        <li class="prod_item"><a class="prod_link" href="/item3">Item3</a></li>
            
                    </ul> 
            
                </li>
            </ul>
        </div>
    </div>
</div>
<% include ../partials/product %>
<% include ../partials/footer %>
