<% include ../partials/header %>
<div class="main_container" >
    <div class="page_content" style="padding: 0">
        <div class="prod_page">
            <ul class="prod_menu">
                <li class="prod_list"><a class="prod_link prod_body_cream" href="/products/body-creams">BODY CREAMS </a></li>
                <li class="prod_list "><a class="prod_link prod_lotions" href="/products/lotions">LOTIONS </a></li>
                <li class="prod_list "><a class="prod_link prod_hair_creams" href="/products/hair-creams">HAIR CREAMS </a></li>
                <li class="prod_list "><a class="prod_link prod_shampoos" href="/products/shampoos">SHAMPOOS </a></li>
                <li class="prod_list "><a class="prod_link prod_conditioners" href="/products/conditioners">CONDITIONERS </a></li>
                <li class="prod_list "><a class="prod_link prod_soaps" href="/products/soaps">SOAPS</a></li>
            </ul>
        </div>
    </div>
</div>
<% include ../partials/footer %>
