<% include ../partials/header %>
<div class="main_container">
    <div class="page_content page_list_item page_desktop_view">
        <div class="page_list_items_image_container">
            <img class="page_list_items_image" src="<%= product.image %>">
        </div>
        <div class="page_list_items_details">
            <p class=""><%=product.name%></p><hr>
            <p><strong>Price: </strong>$ <%=product.price%> / Carton</p>
            <p><strong>Description: </strong><%=product.description%></p>
        </div>
    </div>
</div>
<% include ../partials/subscribe %> 
<% include ../partials/main %> 
<% include ../partials/footer %>